In [1]:
import pandas as pd

dataset=pd.read_csv('general_data.csv')

dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [2]:
#drop the row with null values 
dataset1=dataset.dropna()

from scipy.stats import pearsonr

#convert Attrition values yes and no as 0 and 1 to be able to correlate and calculate the r value
dataset1.Attrition = dataset1.Attrition.replace('No', 0)
dataset1.Attrition = dataset1.Attrition.replace('Yes', 1)

C:\Users\Joy\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [3]:
dataset3=dataset1[['Attrition','Education']]

In [4]:
dataset_yes = dataset3[dataset3['Attrition']==1]
dataset_no  = dataset3[dataset3['Attrition']==0]

from scipy.stats import mannwhitneyu

stats,p=mannwhitneyu(dataset_yes.Education,dataset_no.Education)
print(stats,p)

1258277.0 0.09888570408770686

### Above test was conducted to test:

#### h0 : there is no significant difference in Education between the attrition group and non attrition group

#### ha : there is a significant difference in Education between the attrition group and non attrition group

####  Since the p-value is greater than 0.05 we can accept the h0 hypothesis.

In [5]:
dataset3=dataset1[['Attrition','Age']]
dataset_yes = dataset3[dataset3['Attrition']==1]
dataset_no  = dataset3[dataset3['Attrition']==0]

stats,p=mannwhitneyu(dataset_yes.Age,dataset_no.Age)
print(stats,p)

949178.0 7.98668614365882e-30

### Above test was conducted to test:

#### h0 : there is no significant difference in Age between the attrition group and non attrition group

#### ha : there is a significant difference in Age between the attrition group and non attrition group

####  Since the p-value is less than 0.05 we can say that there is Age factor in the Attrition.

In [6]:
dataset3=dataset1[['Attrition','DistanceFromHome']]
dataset_yes = dataset3[dataset3['Attrition']==1]
dataset_no  = dataset3[dataset3['Attrition']==0]

stats,p=mannwhitneyu(dataset_yes.DistanceFromHome,dataset_no.DistanceFromHome)
print(stats,p)

1295261.0 0.488538986087403

### Above test was conducted to test:

#### h0 : there is no significant difference in living Distance from office between the attrition group and non attrition group

#### ha : there is a significant difference in living Distance from office between the attrition group and non attrition group

####  Since the p-value is greater than 0.05 we can say that the living distance doesn't affect the attrition stats.

In [7]:
dataset3=dataset1[['Attrition','MonthlyIncome']]
dataset_yes = dataset3[dataset3['Attrition']==1]
dataset_no  = dataset3[dataset3['Attrition']==0]

stats,p=mannwhitneyu(dataset_yes.MonthlyIncome,dataset_no.MonthlyIncome)
print(stats,p)

1249573.5 0.06508807631576838

### Above test was conducted to test:

#### h0 : there is no significant difference in Monthly Income between the attrition group and non attrition group.

#### ha : there is a significant difference in Monthly Income between the attrition group and non attrition group.

####  Since the p-value is greater than 0.05 we can say that the Monthly Income doesn't affect the attrition stats.

In [8]:
dataset3=dataset1[['Attrition','PercentSalaryHike']]
dataset_yes = dataset3[dataset3['Attrition']==1]
dataset_no  = dataset3[dataset3['Attrition']==0]

stats,p=mannwhitneyu(dataset_yes.PercentSalaryHike,dataset_no.PercentSalaryHike)
print(stats,p)

1231873.5 0.017810794960084964

### Above test was conducted to test:

#### h0 : there is no significant difference in Salary hike between the attrition group and non attrition group.

#### ha : there is a significant difference in Salary hike between the attrition group and non attrition group.

####  Since the p-value is less than 0.05 we can say that the different Salary hike is one of the factors for attrition.

In [9]:
dataset3=dataset1[['Attrition','TotalWorkingYears']]
dataset_yes = dataset3[dataset3['Attrition']==1]
dataset_no  = dataset3[dataset3['Attrition']==0]

stats,p=mannwhitneyu(dataset_yes.TotalWorkingYears,dataset_no.TotalWorkingYears)
print(stats,p)

895173.5 2.741211827689903e-39

### Above test was conducted to test:

#### h0 : there is no significant difference in Working hours between the attrition group and non attrition group.

#### ha : there is a significant difference in Working hours between the attrition group and non attrition group.

####  Since the p-value is less greater than 0.05 we can say that the difference in the working hours is one of the factors for attrition.

In [10]:
dataset3=dataset1[['Attrition','YearsAtCompany']]
dataset_yes = dataset3[dataset3['Attrition']==1]
dataset_no  = dataset3[dataset3['Attrition']==0]

stats,p=mannwhitneyu(dataset_yes.YearsAtCompany,dataset_no.YearsAtCompany)
print(stats,p)

912579.0 3.3433144809752036e-36

### Above test was conducted to test:

#### h0 : there is no significant difference in Company Experience between the attrition group and non attrition group.

#### ha : there is a significant difference in Company Experience between the attrition group and non attrition group.

####  Since the p-value is less than 0.05 we can say that the difference in the Company Experience is one of the factors for attrition.